.title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.items {
    display: grid;
    align-items: stretch;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $screen__md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $bp-tablet) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $bp-desktop) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: $bp-desktop-l) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.skeleton {
    .title {
        height: 1rem;
        margin: .125rem 0 1.125rem;
        width: 100px;
        border-radius: $component__border-radius__s;
        background: $c-steelgrey
    }
}