.card {
    border-radius: $component__border-radius;
    border: 1px solid $component__border-color;
    background-color: #222;
    padding: .75rem;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: .5rem;

    // TODO: Implement at some point (maybe)
    //@media (prefers-color-scheme: dark) {
    //}

    @media (min-width: $bp-tablet) {
        padding: 1rem;
    }
}

.card__yoinked {
    composes: card;

    &::after {
        content: 'yoinked';
        text-align: center;
        font-size: .75rem;
        box-sizing: border-box;
        position: absolute;
        padding: 1rem;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        background: $c-steelgrey;
        opacity: 1;
        transition: opacity .1s ease-in;
        border-radius: $component__border-radius;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: .9;
        }
    }
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background: $c-steelgrey-light;
    cursor: pointer;
    border-radius: $component__border-radius__s;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imagePlaceholder {
    width: 100%;
    height: 100%;
    background: $c-steelgrey-light;
    position: absolute;
    left: 0;
    top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem 0;
}

.title {
    font-size: 1rem;
    line-height: 1.5rem;

    @media (min-width: $bp-mobile) {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

.shortDescription {
    font-size: .875rem;
    line-height: 1.25rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skeleton {

    .linkButton {
        padding: .5rem 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
        background: $c-steelgrey;
        color: $c-steelgrey;
        border-radius: $component__border-radius__s;
        border: 1px solid $c-steelgrey;
    }

    .yoinkButton {
        padding: 1.25rem 1rem;
        background: $c-steelgrey;
        color: $c-steelgrey;
        border-radius: $component__border-radius__s;
        border: 1px solid $c-steelgrey;
        width: 90px;
    }

    .title {
        height: 1rem;
        margin: .25rem 0;
        width: 160px;
        border-radius: $component__border-radius__s;
        background: $c-steelgrey;

        @media (min-width: $bp-mobile) {
            height: 1.5rem;
        }
    }

    .shortDescription {
        height: 1rem;
        margin: .125rem 0;
        width: 140px;
        border-radius: $component__border-radius__s;
        background: $c-steelgrey;
    }
}